{% extends "base.html" %}

{% block title %}Login - MVNx Iris{% endblock %}

{% block content %}
<div class="min-h-screen flex flex-col justify-center items-center">
    <div class="max-w-md w-full space-y-8">
        <div>
            <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
                Sign in to your account
            </h2>
            <p class="mt-2 text-center text-sm text-gray-600">
                Use your Microsoft account to access MVNx Iris
            </p>
        </div>
        <div class="mt-8 space-y-6">
            <div>
                <a href="{{ auth_url }}" class="w-full flex justify-center">
                    <img src="{{url_for('static',filename='images/ms-symbollockup_signin_dark.png')}}" alt="Sign in with Microsoft">
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
